*{
    padding: 0px;
    margin: 0px;
}
/* font-use */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.bgcbody{
    background-color: #F5F8FF;
}

.dispay-item{
    display: flex;
}
.text-primary-01{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.275rem;
}

.navcli1{
    color: #252432;
}

.navcli2{
    color: #8987A1;
}

.body-hide{
    display: none;
}

.navlinks1{
    flex-direction: row;
}
.navcli1{
    text-decoration: none;
}

.btn-primary{
    color: white;
    background-color: #E95A08;
    height: 50px;
    width: 270px;
    border: none;
}
/* navber,navber hero section */

.navright{
    display: flex;
    gap: 15px;
}
.cart-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;   /* space between icon & text */
   
   }

   .cart-wrapper i {
    font-size: 1rem;
    }

  .cart-text {
    font-size: 1.4rem;
    text-wrap: none;
   }

.navnar{
    padding: 30px 150px 120px 30px;
    align-items: center;
    justify-content: space-between;
}
.navright ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap:45px

}

.navcli2{
    text-decoration: none;
}

.navlinks1 a{
    text-decoration: none;

}

.hero-main{
     padding: 30px 150px 120px 30px;
     align-items: center;


}
.title-hero{
    font-size: 3.0625rem;
    margin-bottom: 12px;

}
.stp{
    color: #E95A08;
}

.img-logo2 img{
    width: 100%;

}
/* product section */
.product-etx{
    align-items: center;
    text-align: center;
}

.ptitle{
    font-size: 50px;
    margin-bottom: 16px;
}
.hclo{
    color: #E95A08;
    
}
.text{
    margin-bottom: 40px;
}

.product-segment{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 110px;
    
    
   
}

.product-content{
    gap:10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;


}

.priec{
    margin-bottom: 20px;
    margin-top: 4px;
    font-weight: bold;
}


/* star section  */
.star-section{
    margin-bottom: 120px;
}
.star{
    display: flex;
    gap:10px;
    padding-left: 40px;
    padding-right: 90px;
    align-items: center;
}

.img-1{
    height: 286px;
    width: 286px;
    position: relative;
    margin-left: 350px;
    /* box-shadow: -4px 10px 4px rgba(0, 0, 0, 0.25); */
}
.img-2{
    height: 597px;
    width: 540px;
    margin-top: -137px;
    
}

.star-title{
    font-size: 3.125rem;
    margin-bottom: 20px;
    font-weight: bold;

}

.start-text{
    margin-bottom: 25px;
}

/* responsive for mobile */
/* hero section */
@media (max-width: 798px){

    .navlinks{
        display: none;
        padding: 0px;
        margin: 0px;
       
    }

    .navlinks1{
        flex-wrap: nowrap;
        padding-left: 120px;
      
    }
    .hero-main {
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }
    .img-logo2 img{
        width: 100%;
    }
    .wrap{

        flex-wrap: none;
    }
    .hero-main {
        align-items: center;
      
        padding: 30px;
    }

    .cart-wrapper {
    display: flex;
    align-items: center;
    gap: 6px; 
    /* padding: auto; 
    margin: auto;  */

 
   
   
   }
   .navright{
    justify-content: space-between;
    padding: 0px;
    margin-left: 190px;
    margin-right: 1px;
   }
    .cart-wrapper i {
    font-size: 1.45rem;
    }
    .cart-text{
        font-size: 1rem;
        text-wrap: none;
        width: 55px;
    }
    .product-segment{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        gap: 5px;
        padding-right: 20px;
    }

    .img-1{
        display: none;
    }
    .star{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .star-section{
        margin-top: 20px;
        padding-top: 50px;
        align-items: center;
        padding-right: 5px;
    }
    .star-left{
       margin-left: 170px;
    }

   
  
 

 




    






  
    

   




}